body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  display: inline-block;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

span {
  font-size: 18px;
}

.active {
  background: #11c976 !important;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
}

img {
  box-shadow: 2px 2px 15px 2px rgba(19, 20, 20, 0.3803921569);
}

.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.68);
  position: relative;
}

.imageOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.582);
  position: absolute;
}

section {
  margin-top: 100px !important;
}

.pageNotFound {
  padding: 100px;
}

.borderGreen {
  border-bottom: 1px solid #11c976;
  padding-bottom: 5px;
}

.textCenter {
  text-align: center;
}

img {
  max-width: 100%;
}

.btnGreen {
  color: white;
  background: #11c976;
  padding: 10px 50px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-top: 60px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.btnGreen:hover {
  background: rgb(84, 174, 84);
}

.container800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

.linkBlue {
  color: rgb(0, 79, 128);
  font-size: 36px;
  margin-top: 150px;
  display: inline-block;
  text-decoration: none;
}

.masonryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px; /* Adjust the gap between items as needed */
}

.gridItem {
  margin-bottom: 20px; /* Add space between items vertically */
  -moz-column-break-inside: avoid;
       break-inside: avoid-column; /* Prevent items from breaking across columns */
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin-top: 60px;
}
.grid3 a {
  color: white;
  background: #11c976;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
}
.grid3 a:hover {
  background: rgb(84, 174, 84);
}

.headMargin {
  margin-top: 0px;
}

.testimonials {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding: 30px;
}

.video {
  max-width: 800px;
  margin: 60px auto 0 auto;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }
  .grid2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .grid3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .grid3 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  a {
    font-size: 16px !important;
    padding: 6px 12px !important;
  }
  .linkBlue {
    font-size: 26px !important;
  }
}/*# sourceMappingURL=globalStyle.module.css.map */