.taxi {
    text-align: center;
}
.taxiImg {
    min-height: 350px;
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

// @media only screen and (max-width: 768px) {
//     .textImg {
//         max-height: auto !important;
//         min-height: auto !important;
//         object-fit:contain !important;
//     }
// }